.alloy-editor-container {
	.alloy-editor {
		&.ae-placeholder {
			~ .alloy-editor-placeholder {
				color: #2b4259;

				&:not(:focus) {
					border-left-color: #dbdde1;
					color: #b0b4bb;
				}

				&.readonly ~ .alloy-editor-placeholder {
					color: #ccc;
				}
			}
		}

		outline: 0;
	}

	.alloy-editor-icon {
		color: #869cad;
	}
}

.has-error .alloy-editor-container .alloy-editor {
	&.ae-placeholder:not(:focus) {
		border-left-color: #c67;
	}
}
